nav a {
  display: inline-block;
  position: relative;
  color: #ffffff;
  text-decoration: none;
}
ul li:hover{
  font-weight: bolder;
  text-transform: uppercase;
}
nav a:hover {
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
}
nav a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  border-radius: 5px;
  height: 0.05em;
  bottom: 0;
  left: 0;
  background: currentcolor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
nav a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
h2 {
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

h3 span {
  display: inline-block;
  overflow: hidden;
  border-right: .15em solid orange; /* Change border color */
  white-space: nowrap;
  animation: typing 2s steps(12, end), blink-caret .2s step-end infinite alternate;
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
}

